body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

header {
    background: url("/img/hdr_bckgrnd1.jpg") no-repeat center top / cover;
    height: 300px;
}
header h2 {
    margin: 0;
    padding: 0;
}

div {
    box-sizing: border-box;
}

.container{
    width: 1400px;
    margin: 0 auto;
}

.m_heading {
    font-size: 50px;
    padding-top: 40px;
}

section{
    background: url("/img/mn_bckgrnd.jpg") no-repeat center top / cover;
    padding: 5px;
    margin: 0;
}
.items_cont {
    width: 1085px;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.item_cont {
    padding: 35px;
    background-color: rgba(100,100,100,0.5);
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    display: block;
    position: relative;
    overflow: hidden;
}
.cov {
    float: left;
    display: inline-block;
}
.cov a img{
    width: 430px;
    height: 592px;
}

.full {
    float: left;
    width: 550px;
    margin-left: 18px;
    margin-top: 25px;
    display: inline-block;
}

h2 {
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 6px;
    color: #fff;
    letter-spacing: 1px;
}

.info {
    margin-top: 50px;
    font-size: 18px;
    color: #fff;
    display: block;
}
.info li{
    margin-top: 12px;
    border-bottom: 1px solid rgba(100,100,100,1);
    padding-bottom: 4px;
    display:block;
}
.info li a{
    margin-top: 12px;
    color: #e4dd4b;
    letter-spacing: 1px;
}
.info p {
    margin-top: 12px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.description {
    font-size: 16px;
    margin: 35px 0 0 35px;
    text-align: justify;
}

.button {
    background-color: #e4dd4b;
    width: 175px;
    height: 60px;
    border-radius: 15px;
    text-align: center;
    padding: 18px;
    margin: 0;
    float: right;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
}
.b a {
    color: #fff
}



.menu {
    float: right;
    background: rgba(100, 100, 100, 0.2);
    border: rgba(100, 100, 100, 1) solid 1px;
    width: 265px;
    display: block;
    margin: 25px 0 0 0;
    padding: 15px;
    border-radius: 12px;
}
.menu input, select {
    margin: 10px 5px 10px 5px;
    color: #222;
    width: 229px;
    height: 25px;
    background-color: #f2f2f2;
    box-shadow: 0 0 0 1px #e3e3e3;
    cursor: text;
    border-radius: 6px;
}

footer {
    background: url("/img/ListenUpjpg.jpg") no-repeat center top / cover;
    height: 400px;
}

